page-register {
    .scroll-content {
        padding-top: 0;
    }
    .camera_button {
        background: linear-gradient(to left, rgb(158,85,255), rgb(95,79,234));
        height: 48px;
        width: 48px;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 0;
        margin-top: -25px;
    }
    .colorBG {
    background-image: -webkit-linear-gradient(right, rgb(158,85,255), rgb(95,79,234));
    background-image: -moz-linear-gradient(right, rgb(158,85,255), rgb(95,79,234));
    background-image: -o-linear-gradient(right, rgb(158,85,255), rgb(95,79,234));
    background-image: linear-gradient(to left, rgb(158,85,255), rgb(95,79,234));
        }
    .imageBG {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(/assets/vendor/defaultImage.jpeg);
        width: 100%;
        height: 100%;
        filter: blur(10px);
    }

    .profileBGContainer {
        padding-bottom: 70px;
        ion-col {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 30px;
        }
    }
    .profileBG {
        position: absolute;

        .profileImage {
            margin: 0 auto;
            width: 130px;
            height: 130px;
            border: 6px solid rgb(105,71,196);
            border-radius: 50%;
        }
    }
    form {
        width: calc(100% - 30px);
        margin: 0 auto;
        margin-top: -70px;
        border: 0px solid #eaeaea;
        // h-shadow v-shadow blur spread color |inset|initial|inherit;
        box-shadow: 0 10px 20px #eaeaea, 0 6px 6px #eaeaea ;
        .label {
            padding: 0;
            margin-bottom: 5px;
        }
        ion-row.first-row {
            ion-item {
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }
        }
        .item-inner {
            padding: 5px 20px;
        }
        .row {
            position: relative;
        }
        .error {
            position: absolute;
            right: 10px;
            top: 20px;
            padding: 0;
        }
        .sign_up_button {
            margin-top: 0;
            margin-bottom: 0;
            height: 48px;
            background: linear-gradient(to right, rgb(158,85,255) , rgb(95,79,234));
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }
    }
    p{
        padding-top: 10px;
        font-size: 14px;
        color: rgb(160,178,184);
        a {
            text-decoration: none;
            color: rgb(158,85,255);
            cursor: pointer;
        }
    }
    .list-md .item-input:last-child {
        border-bottom: none;
    }
}
