<ion-header>
  <ion-navbar>
    <ion-title>
      Chat <!-- Patient's Name -->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="speech-list">
    <ion-item class="speech" *ngFor="let chat of chats | async; let last = last"
      [ngClass]="{'speech-right': chat.ftype=='Doctor', 'speech-left': chat.ftype=='Patient'}">
      <p>{{chat.msg}}</p>
      <p class="speech-time">
        {{chat.ts | date: 'shortTime'}}
      </p>
      {{last? callFunction() : ''}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <form (ngSubmit)="createMessage(chat_form.value)" [formGroup]="chat_form">
  <ion-grid>
    <ion-row justify-content-end>
      <ion-col col-9>
        <ion-item no-border>
          <ion-input formControlName="message" placeholder="Enter message"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-right>Send</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-footer>