page-chat {
    .speech {
        margin-bottom: 10px;
        border-radius: 5px;
        background: #eaeaea;
    }

    .speech ion-label{
        display: flex;
        justify-content: space-between;
    }

    .speech-time{
        font-size: 12px;
    }

    .speech-list {
        display: flex;
        flex-direction: column;
    }

    .speech-list > .speech-right {
        align-self: flex-end;
    }

    .speech-left ion-label {
        flex-direction: row-reverse;
    }

    .item-inner {
        padding: 0 8px;
        border-bottom: none !important;
    }

    .item-block{
        width: 80%;
    }
    // .pad0 {
    //     padding: 0;
    // }

    // .nano {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    //     overflow: hidden
    // }

    // .nano > .nano-content {
    //     position: absolute;
    //     overflow: scroll;
    //     overflow-x: hidden;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0
    // }

    // .pad-all {
    //     padding: 15px
    // }

    // .mar-btm {
    //     margin-bottom: 15px
    // }

    // .media-block .media-left {
    //     display: block;
    //     float: left
    // }

    // .media-block .media-body {
    //     display: block;
    //     overflow: hidden;
    //     width: auto
    // }

    // .speech-left, .speech-right {
    //     display: flex;
    // }

    // .speech-left{
    //     justify-content: flex-start;
    // }

    // .speech-right{
    //     justify-content: flex-end;
    // }

    // .speech-left > .speech {
    //     background: #f4f4f4;
    //     color: black;
    //     text-align: right;
    //     padding: 1px 15px;
    //     border-radius: 5px;
    //     display: flex;
    //     justify-content: space-between;
    //     flex-direction: row-reverse;
    // }

    // .speech-right > .speech {
    //     background: #f4f4f4;
    //     color: black;
    //     text-align: left;
    //     padding: 1px 15px;
    //     border-radius: 5px;
    //     display: flex;
    //     justify-content: space-between;
    // }

    // .speech-right > .speech .media-heading {
    //     color: #a07617
    // }

    // .has-scrollbar {
    //     height: 67vh
    // }

    // .has-scrollbar .pad-all {
    //     right: -17px
    // }

    // .has-scrollbar .nano-slider {
    //     height: 141px;
    //     -webkit-transform: translate(0);
    //     transform: translate(0)
    // }

    // .speech-time {
    //     margin-top: 20px;
    //     margin-bottom: 0;
    //     font-size: .8em;
    //     font-weight: 300
    // }
    // .message-container {
    //     flex: 1;
    //     text-align: left;
    // }

}
