page-profile {
    form {
        border: 0px solid #eaeaea;
        border-radius: 7px;
        box-shadow: 0px 2px 6px 4px #EAEAEF;
        .label {
            padding: 0;
            margin-bottom: 5px;
        }
        .row {
            position: relative;
        }
        .item-inner {
            padding: 5px 20px;
        }
        .error {
            position: absolute;
            right: 10px;
            top: 20px;
            padding: 0;
        }
        .update_profile_button {
            margin-top: 0;
            margin-bottom: 0;
            height: 48px;
            background: linear-gradient(to right, rgb(158,85,255) , rgb(95,79,234));
        }
    }
}
