<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Welcome to Drop!
  <p>
    Please update your profile.
  </p>
  <div padding>
    <button ion-button round color="danger" (click)="logout()">Log out</button>
  </div>
  <div padding>
    <button ion-button round (click)="show_profile()">Edit profile</button>
  </div>
  <div padding>
    <button ion-button round color="secondary" (click)="show_chats()">Show Chats</button>
  </div>
</ion-content>
