// App Global Sass

.text-center {
    text-align: center;
}

.list-unstyled {
    list-style-type: none;
}

.error {
    color: #aaa;
    font-size: 14px;
    padding: 16px 24px;
}

ion-img {
    background-color: transparent;
}

.item-md {
    padding-left: 0;
}

.toolbar-background-md {
    background: transparent;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 75px;
}